body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #28313b, #485563);
}

.container {
    height: 35vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#greeting {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00ffaa;
}

#clock {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    color: #eae4e4;
    text-shadow: 1px 1px 2px #303030;
}

#date {
    font-size: 25px;
    font-weight: bold;
    color: #eae4e4;
    text-shadow: 1px 1px 2px #303030;

}


